---
layout: page
---

<h1>Gene Ontology annotations <small>user-friendly and customizable</small></h1>

<h2>About</h2>
{% capture include_to_markdownify %}
{% include about.md %}
{% endcapture %}
{{ include_to_markdownify | markdownify }}

<h2>Annotation Options</h2>
{% capture include_to_markdownify %}
{% include options.md %}
{% endcapture %}
{{ include_to_markdownify | markdownify }}

<form>
  <div class="btn-group btn-group-justified" id="prop_button" data-toggle="buttons">
    <label class="btn btn-default active">
      <input type="radio" value="prop" name="prop" id="prop" checked="checked">Propagated</label>
    <label class="btn btn-default">
      <input type="radio" value="unprop" name="prop" id="unprop">Unpropagated</label>
  </div>

  <div class="btn-group btn-group-justified" id="vocab_button" data-toggle="buttons">
    <label class="btn btn-default active">
      <input type="radio" value="entrez" name="vocab" id="entrez" checked="checked">Entrez</label>
    <label class="btn btn-default">
      <input type="radio" value="symbol" name="vocab" id="symbol">Symbol</label>
  </div>

  <div class="btn-group btn-group-justified" id="coding_button" data-toggle="buttons">
    <label class="btn btn-default active">
      <input type="radio" value="all" name="coding" id="all" checked="checked">All Genes</label>
    <label class="btn btn-default">
      <input type="radio" value="coding" name="coding" id="coding">Protein-coding Genes</label>
  </div>
</form>

<h2>Download Annotations</h2>
<div id="dynamic-table">Generating Table...</div>

<h2>Source Files</h2>
{% include files.html %}
