---
layout: page
---

<h1>Gene Ontology annotations <small>user-friendly and customizable</small></h1>

<h2>About</h2>
{% capture include_to_markdownify %}
{% include about.md %}
{% endcapture %}
{{ include_to_markdownify | markdownify }}

<h2>Annotation Options</h2>
{% capture include_to_markdownify %}
{% include options.md %}
{% endcapture %}
{{ include_to_markdownify | markdownify }}

<form>
  <div class="btn-group btn-group-justified" id="evidence_button" data-toggle="buttons">
    <label class="btn btn-default active">
      <input type="radio" value="allev" name="evidence" id="allev" checked="checked">All Evidence</label>
    <label class="btn btn-default">
      <input type="radio" value="expev" name="evidence" id="expev">Experimental Evidence Only</label>
  </div>

  <div class="btn-group btn-group-justified" id="annotation_type_button" data-toggle="buttons">
    <label class="btn btn-default active">
      <input type="radio" value="inferred" name="annotation_type" id="inferred" checked="checked">Inferred</label>
    <label class="btn btn-default">
      <input type="radio" value="direct" name="annotation_type" id="direct">Direct</label>
  </div>
</form>

<h2>Download Annotations</h2>
<div id="dynamic-table">Generating Table...</div>

<h2>Source Files</h2>
{% include files.html %}

<h2>Citations</h2>
{% capture include_to_markdownify %}
{% include citations.md %}
{% endcapture %}
{{ include_to_markdownify | markdownify }}
