
<p><a name="last-updated"></a>Last updated on 2015-07-28 13:13:53. This resource updates frequently, so make note of this date for version information.</p>

<div class="row">
<div class="col-md-4">
<dl class="dl-horizontal">
  <dt>Filename</dt>
  <dd>go-basic.obo</dd>
  <dt>Last Modified</dt>
  <dd>2015-07-28 01:34:46</dd>
  <dt>SHA1 Hash</dt>
  <dd><font size="1">0C CD 59 A0 8A 84 8D EC 64 F8 77 73 74 23 9E D0 C6 FC 4A 76</font></dd>
</dl>
</div>
<div class="col-md-4">
<dl class="dl-horizontal">
  <dt>Filename</dt>
  <dd>gene_info.gz</dd>
  <dt>Last Modified</dt>
  <dd>2015-07-28 03:04:00</dd>
  <dt>SHA1 Hash</dt>
  <dd><font size="1">1A 92 2C A5 40 1B C7 8B 8A 25 2F D7 34 13 9B 54 F1 2F FD 73</font></dd>
</dl>
</div>
<div class="col-md-4">
<dl class="dl-horizontal">
  <dt>Filename</dt>
  <dd>gene2go.gz</dd>
  <dt>Last Modified</dt>
  <dd>2015-07-28 03:05:00</dd>
  <dt>SHA1 Hash</dt>
  <dd><font size="1">C6 85 52 2A C5 60 75 53 22 90 C4 15 1E B2 D4 D8 6F F8 60 A3</font></dd>
</dl>
</div>

</div>