
<p><a name="last-updated"></a>Last updated on 2015-07-28 12:18:18. This resource updates frequently, so make note of this date for version information.</p>

<div class="row">
<div class="col-md-4">
<dl class="dl-horizontal">
  <dt>Filename</dt>
  <dd>go-basic.obo</dd>
  <dt>Last Modified</dt>
  <dd>2015-05-01 01:34:20</dd>
  <dt>SHA1 Hash</dt>
  <dd><font size="1">A0 BF 56 7A 37 FA A1 63 9E 7D A8 1F 78 EA FF 8D 00 5C 93 71</font></dd>
</dl>
</div>
<div class="col-md-4">
<dl class="dl-horizontal">
  <dt>Filename</dt>
  <dd>gene_info.gz</dd>
  <dt>Last Modified</dt>
  <dd>2015-05-07 02:44:00</dd>
  <dt>SHA1 Hash</dt>
  <dd><font size="1">96 51 37 F3 15 FB 1C 44 A6 99 27 37 AF C1 C3 EF 4F D3 E9 12</font></dd>
</dl>
</div>
<div class="col-md-4">
<dl class="dl-horizontal">
  <dt>Filename</dt>
  <dd>gene2go.gz</dd>
  <dt>Last Modified</dt>
  <dd>2015-05-07 02:43:00</dd>
  <dt>SHA1 Hash</dt>
  <dd><font size="1">6A D3 0E FE 63 B5 8F 21 AA 7F 6C B0 71 47 BC 32 95 F2 74 DA</font></dd>
</dl>
</div>

</div>