
<p><a name="last-updated"></a>Last updated on 2016-02-22 19:57:00. This resource updates frequently, so make note of this date for version information.</p>

<div class="row">
<div class="col-md-4">
<dl class="dl-horizontal">
  <dt>Filename</dt>
  <dd>go-basic.obo</dd>
  <dt>Last Modified</dt>
  <dd>2016-02-20 01:34:10</dd>
  <dt>SHA1 Hash</dt>
  <dd><font size="1">C5 D4 24 15 2F DF 66 A6 C1 B1 7D 23 4F 32 8A DB 31 A7 D0 7D</font></dd>
</dl>
</div>
<div class="col-md-4">
<dl class="dl-horizontal">
  <dt>Filename</dt>
  <dd>gene_info.gz</dd>
  <dt>Last Modified</dt>
  <dd>2016-02-21 17:52:00</dd>
  <dt>SHA1 Hash</dt>
  <dd><font size="1">11 E4 84 BB 75 1B 88 02 94 0E 19 CE 1F A3 D7 B1 6F DF 35 47</font></dd>
</dl>
</div>
<div class="col-md-4">
<dl class="dl-horizontal">
  <dt>Filename</dt>
  <dd>gene2go.gz</dd>
  <dt>Last Modified</dt>
  <dd>2016-02-21 17:50:00</dd>
  <dt>SHA1 Hash</dt>
  <dd><font size="1">A0 DE 9A A9 02 64 5A 52 E9 FC 31 08 3F 7F 0E EB 32 BA 48 65</font></dd>
</dl>
</div>

</div>