Annotation downloads are <a href="https://en.wikipedia.org/wiki/Tab-separated_values">tsv</a>-formatted. The first row contains column names. Genes are pipe (<code>|</code>) delimited. Below is an example of the formatting:

<table class="table table-striped">
  <thead>
    <tr>
      <th>go_id</th>
      <th>go_name</th>
      <th>go_domain</th>
      <th>tax_id</th>
      <th>annotation_type</th>
      <th>size</th>
      <th>gene_ids</th>
      <th>gene_symbols</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>GO:0000050</td>
      <td>urea cycle</td>
      <td>biological_process</td>
      <td>9606</td>
      <td>inferred</td>
      <td>2</td>
      <td>445|5009</td>
      <td>ASS1|OTC</td>
    </tr>
    <tr>
      <td>GO:0000053</td>
      <td>argininosuccinate metabolic process</td>
      <td>biological_process</td>
      <td>9606</td>
      <td>inferred</td>
      <td>1</td>
      <td>445</td>
      <td>ASS1</td>
    </tr>
    <tr>
      <td>GO:0000054</td>
      <td>ribosomal subunit export from nucleus</td>
      <td>biological_process</td>
      <td>9606</td>
      <td>inferred</td>
      <td>4</td>
      <td>5901|6209|7514|51068</td>
      <td>RAN|RPS15|XPO1|NMD3</td>
    </tr>
    <tr>
      <td>GO:0000055</td>
      <td>ribosomal large subunit export from nucleus</td>
      <td>biological_process</td>
      <td>9606</td>
      <td>inferred</td>
      <td>3</td>
      <td>5901|7514|51068</td>
      <td>RAN|XPO1|NMD3</td>
    </tr>
  </tbody>
</table>
